$primary-color: #ec5d4f;
$secundary-color: #273252;
$light-blue-color: #cbfbfd;
$light-color: #f4f4f4;

:root {
  font-size: 80%;
}
a {
  text-decoration: none;
  color: $secundary-color;
}

strong {
  font-size: 1.4rem;
  font-weight: 600;
}
p {
  font-size: 1.4rem;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: $primary-color;
  font-size: 1.6rem;
  color: $secundary-color;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  background: $light-color;
}

header {
  padding: 30px;
  background: $light-color;
  color: $secundary-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__image {
    @include flexCenter();
  }
  .name {
    font-family: "Archivo", sans-serif;
    font-size: 2rem;
    font-weight: bold;
  }
  .tag {
    @include flexCenter;
    background-color: $secundary-color;
    color: $light-color;
    font-size: 1.4rem;
    margin-bottom: -20px;
    width: 200px;
    padding: 6px;
    border-radius: 4px;
  }

  .button__container {
    @include flexCenter;
    text-align: center;
    color: $light-color;
    height: 50px;
    margin-top: 40px;
    a {
      padding: 18px 26px;
      border-radius: 40px;
      background-color: $primary-color;
      color: $light-color;
    }
  }
}

.first__section {
  margin-top: -20px;
  padding: 0 10px 40px 10px;
  @include flexCenter();
  flex-direction: column;
  align-items: flex-start;
  .letter__content {
    max-width: 780px;
    margin: 0 40px;
    line-height: 2.5rem;
  }
  #about-img {
    margin-left: 30px;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $primary-color;
    img {
      width: 200px;
    }
  }
}

.second__section {
  p,
  h2 {
    max-width: 780px;
    margin: 0 40px 0 50px;
    line-height: 2.5rem;
  }

  .how__it__works {
    padding: 0 0 50px 0;
    @include flexCenter();
    flex-wrap: wrap;
    .item {
      @include flexCenter();
      flex-direction: column;
      margin: 0 50px;
      img {
        width: 100px;
      }
    }
  }
}

.bonus {
  @include flexCenter();
  flex-direction: column;
  padding: 20px;

  .bonus-1 {
    @include flexCenter();

    img {
      width: 400px;
      margin: 0 40px;
    }
  }
  .bonus-2 {
    @include flexCenter();

    flex-direction: row-reverse;
    img {
      width: 400px;
      margin: 0 20px;
    }
  }
  .bonus-content {
    margin: 0 30px;
  }
}
.offer {
  padding-bottom: 100px;
  @include flexCenter();
  flex-direction: column;
  .real-price {
    font-size: 3rem;
  }
  .offer-price {
    @include flexCenter();
    flex-direction: column;
    h2 {
      width: 300px;
      span {
        font-weight: 300;
        color: $primary-color;
        text-decoration: line-through;
      }
    }
  }
  h3 {
    text-align: center;
    color: $secundary-color;
    margin: 40px;
    font-weight: 600;
  }
  h1 {
    text-align: center;
    color: $primary-color;
    margin: 10px;
    font-weight: 600;
  }

  .payment {
    h2 {
      font-size: 2.2rem;
    }
    @include flexCenter();
    width: 375px;
    flex-direction: column;
    padding: 0 40px;
  }
  .pay-method {
    width: 370px;
    margin: 30px 0;
    @include flexCenter();
    justify-content: flex-start;
    h5 {
      font-size: 1.6rem;
    }
    img {
      width: 100px;
    }
  }

  .button__container {
    @include flexCenter;
    text-align: center;
    color: $light-color;
    height: 50px;
    max-width: 500px;
    width: 100%;
    margin-top: 60px;
    a {
      font-size: 2rem;
      padding: 18px;
      margin: 0 8px;
      border-radius: 14px;
      background-color: $light-blue-color;
      color: $secundary-color;
      box-shadow: 0 0 10px $secundary-color;
    }
  }
}
@media screen and (max-width: 800px) {
  header {
    flex-wrap: wrap-reverse;
    justify-content: center;
    .header__image {
      margin: 0 20px;

      @include flexCenter();
      img {
        width: auto;
      }
    }
  }

  .bonus {
    @include flexCenter();
    flex-direction: column;
    padding: 20px;

    .bonus-1 {
      @include flexCenter();
      flex-wrap: wrap;
      img {
        width: 350px;
        margin: 0 40px;
      }
    }
    .bonus-2 {
      @include flexCenter();
      flex-wrap: wrap;
      flex-direction: row-reverse;
      img {
        width: 350px;
        margin: 0 20px;
      }
    }
    .bonus-content {
      margin: 0 30px;
    }
  }
}

@media screen and (max-width: 485px) {
  header {
    flex-wrap: wrap-reverse;
    justify-content: center;
    .header__image {
      margin: 0 20px;

      @include flexCenter();
      img {
        width: 100px;
      }
    }
  }

  .how__it__works {
    flex-direction: column;
  }
  .bonus {
    @include flexCenter();
    flex-direction: column;
    padding: 20px;

    .bonus-1 {
      @include flexCenter();
      flex-wrap: wrap;
      img {
        width: 280px;
        margin: 0 10px;
      }
    }
    .bonus-2 {
      @include flexCenter();
      flex-wrap: wrap;
      flex-direction: row-reverse;
      img {
        width: 280px;
        margin: 0 10px;
      }
    }
    .bonus-content {
      margin: 0 30px;
    }
  }
}
