:root {
  font-size: 60%;
}

a {
  text-decoration: none;
  color: #273252;
}

strong {
  font-size: 2rem;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #EC5D4F;
  font-size: 1.6rem;
  color: #273252;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  background: #F4F4F4;
}

header {
  padding: 30px;
  background: #CBFBFD;
  color: #273252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

header .header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__image img {
  margin: 0 auto;
  max-width: 150px;
}

header .name {
  font-family: 'Archivo', sans-serif;
  font-size: 2.6rem;
  font-weight: bold;
}

header .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #273252;
  color: #F4F4F4;
  width: 200px;
  height: 50px;
  padding: 6px;
  border-radius: 4px;
}

header .button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #F4F4F4;
  height: 50px;
}

header .button__container a {
  padding: 14px 26px;
  border-radius: 40px;
  background-color: #EC5D4F;
  color: #F4F4F4;
}

.first__section {
  padding: 40px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first__section .letter__content {
  max-width: 780px;
  margin: 0 40px;
  line-height: 2.5rem;
}

.first__section #about-img {
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #EC5D4F;
}

.first__section #about-img img {
  width: 400px;
}

.second__section .how__it__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second__section .how__it__works .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
}

.second__section .how__it__works .item img {
  width: 100px;
}
/*# sourceMappingURL=style.css.map */